# Ignore MacOS system files
.DS_Store

# Ignore IPython Notebook checkpoints
.ipynb_checkpoints/

# Ignore data directory
edu_fineweb10B/


# Ignore model files
*.model

# Ignore vocabulary files
*.vocab

__pycache__/
